@model Library.Models.Login.LogInInfo
@{
    ViewBag.Title = "Login Page";
    Layout = null;
} 
<link href="~/css/styles.css" rel="stylesheet" />
<head>
    <meta name="viewport" content="width-device-width" />
    <title>Login</title>
</head>
<body>
    <div id="login-div">
        @*<form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            Username: <input asp-for="CardID" value="username" /><br />
            Password: <input asp-for="Password" value="password" /><br />
            <input type="submit" value="Login" onclick="location.href='<%: Url.Action("Authorize", "Login") %>'"onclick="location.href='<%: Url.Action("Authorize", "Login") %>'"/>
            @Html.AntiForgeryToken()
        </form>*@
        @using (Html.BeginForm("Authorize", "Login",  FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td style="text-decoration:underline">Library ILS</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.CardID)</td>
                    <td>@Html.EditorFor(model => model.CardID)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.CardID)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Password)</td>
                    <td>@Html.EditorFor(model => model.Password)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.ValidationMessageFor(model => model.Password)</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="name" value="Login" /> 
                        <input type="reset" name="name" value="Clear" />
                     </td>
                </tr>
            </table>
        }
    </div>


</body>
